<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎回来</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css'>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
<div class="container">
    <div class="card-wrap">
        <div class="card border-0 shadow card--welcome is-show" id="welcome">
            <div class="card-body">
                <h2 class="card-title"><i class="fa fa-cloud" aria-hidden="true"></i> 欢迎回来</h2>
                <br>
                <!--判断是否包含错误信息-->
                <p style="color: #d45858" th:text="${Msg}"></p>
<!--                <br th:if="${Msg == null}">-->
<!--                <div class="btn-wrap">-->
<!--                    <a class="btn btn-lg btn-register js-btn" data-target="register">注册</a>-->
<!--                    <a class="btn btn-lg btn-login js-btn" data-target="login">登录</a>-->
<!--                </div>-->
                <br>
            </div>
        </div>

    </div>
</div>
<script src="js/jquery-3.4.1.js"></script>
<script src="js/login.js"></script>
</body>
</html>